/* LOGIN FORM */

body {
	background: #272B30;
	color: white;
	font-family: "Geneva", sans-serif;
	font-size: 0.8em;
}
/*body.login {*/
/*    background: #272B30;*/
/*}*/
#user-tools {
	background-image:linear-gradient(#484e55, #3a3f44 20%,#272B30);
	border-bottom: 1px solid #94FF8E;
}
#header {
	background-image:linear-gradient(#484e55, #3a3f44 20%,#272B30);
	border-bottom: 1px solid #94FF8E;
	border-radius: 15px 15px 0 0;
}
input[type=submit] {
	padding: 10px;
	color: white;
	border:1px solid transparent;
	box-shadow: 0px 0px 3px transparent;
	background-image:linear-gradient(#484e55, #3a3f44 20%,#272B30);
	border-radius: 15px;
	cursor: pointer;
}
input[type=submit]:hover {
	border:1px solid #94FF8E;
	box-shadow: 0px 0px 3px rgb(148,255,142);
}
input#id_password, input#id_username {
/*	border:1px solid #94FF8E;*/
/*	box-shadow: 0px 0px 3px rgb(148,255,142);*/
	background:#272B30;
}
.login #container {
	border:1px solid #272B30;
	box-shadow: 0px 5px 5px black;
/*	background: #272B30;*/
	background-image:linear-gradient(#484e55, #3a3f44 20%,#272B30);
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	border-radius: 15px;
}

.login #content-main {
    width: 100%;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: white;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

.login .password-reset-link {
    text-align: center;
}
