<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" >
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" >
</head>
<body>
	{{ state }}
	<div class="box" id="login">
	<div class="box-header" id="header">
		<div class="box-title">DOMOSYS_APP</div>
		<div class="box-subject">Veuillez vous connecter</div>
	</div>
	<div class="box-body" id="body">
	<form class="box-form" action="/login/" method="post">
		{% csrf_token %}
		<div class="form-row">
			<label>Utilisateur :</label>
			<input id="user" type="text" name="username" value="{{ username }}" />
		</div>
		<div class="form-row">
			<label>Mot-de-passe :</label>
			<input id="passwd" type="password" name="password" value="" />
		</div>
<!--		<div class="form-row">-->
			<center id="submit"><input class="bouton" type="submit" value="Connexion" /></center>
<!--		</div>-->
	</form>
	</div>
	</div>
</body>
</html>
