# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# backups
*.old/
*.old
*.back/
*.back
*~

# Logs and socks
*.log
*.sock


# Secret key think of generating one new in this file
domosys_web/domosys_web/secret.key
