# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# backups
*.old/
*.old
*.back/
*.back
*~

# Logs and socks
*.log
*.sock


# Secret things, think of generating them !
domosys_web/domosys_web/SECRET_KEY
domosys_web/domosys_web/ALLOWED_HOSTS
domosys_web/domosys_web/pg_django.pass
